body{
  margin: 0;
 
}
.header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
}
h2{
	color: white;
  font-size: 25px;
  font-family: 'Poppins';
}
p{
  text-align: left;
  font-family: 'Poppins';
  font-size: 16px;
}
input{
  font-family: 'Poppins';
  padding-top: 8px;
  width: 200px;
}

#main{
  position: absolute;
  left: 40px;
  padding-top: 40px;
}
#show{
  width: 900px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: 420px;
  border-collapse: collapse;
}

#fname{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: solid black 0.5px;
  border-radius: 5px;
}

#lname{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: solid black 0.5px;
  border-radius: 5px;
}
#email{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: solid black 0.5px;
  border-radius: 5px;
}
#phone{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: solid black 0.5px;
  border-radius: 5px;
}

#gender{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: solid black 0.5px;
  border-radius: 5px;
}

#skill{
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: solid black 0.5px;
  border-radius: 5px;
}
.vertical {
  border-left: 2px solid black;
  height: 500px;
  position:absolute;
  left: 395px;
  bottom: 20px;
}

/*Submit Button*/
#btn{
 position: absolute;
 bottom: 80px;
 left: 260px;
 width: 100px;
 height: 40px;
 border-radius: 5px;
 background-color: #F4F200;
 background-image: #F4F200;
 background-image: -moz-linear-gradient(top, #fff 0%, #F4F200 100%); 
 background-image: -webkit-linear-gradient(top, #fff 0%,#F4F200 100%); 
 background-image: linear-gradient(to bottom, #fff 0%,#F4F200 100%); 
 background-size: 300px;
 background-repeat: no-repeat;
 background-position: 0%;
 -webkit-transition: background 300ms ease-in-out;
 transition: background 300ms ease-in-out;
  font-family: 'Poppins';
  font-weight: normal ;
}
#btn:hover{
  background-position: -200%;
  transition: background 300ms ease-in-out;

}